/* Default styles */
.video-card {
  margin-bottom: 16px;
  background-color: #001529;
  color: white;
  .ant-card-head {
    color: white;
  }
}

/* Responsive styles */
@media (max-width: 1200px) {
  .video-card {
    margin-bottom: 12px;
  }
}

@media (max-width: 992px) {
  .video-card {
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .video-card {
    margin-bottom: 6px;
  }
}

@media (max-width: 576px) {
  .video-card {
    margin-bottom: 4px;
  }
}
