/* Chatbox.scss */
.chatbox-layout {
  width: 40vw;
  height: 80vh;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.Chat-Container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbox-header {
  background: #1f5156;
  color: white;
  text-align: center;
  padding: 10px;
}

.chatbox-content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chatbox-footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f0f2f5;
}

.user-message {
  justify-content: flex-end;
}

.admin-message {
  justify-content: flex-start;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}
