/* src/App.scss */
$primary-color: #1890ff;

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.layout {
  height: 100vh;
  background: url("https://img.freepik.com/free-vector/green-shades-wavy-background_23-2148897829.jpg?t=st=1721202591~exp=1721206191~hmac=da727a7a6820169eafa73c85d8d46904a3efca7eb70c29c854d78135bb64ae16&w=740https://img.freepik.com/free-vector/green-shades-wavy-background_23-2148897829.jpg?t=st=1721202591~exp=1721206191~hmac=da727a7a6820169eafa73c85d8d46904a3efca7eb70c29c854d78135bb64ae16&w=740")
    center/cover;
}

.header {
  background: #fff;
  padding: 0;
}

.content {
  margin: 24px 16px 0;
  overflow: initial;
  padding: 24px;
  background: url("https://img.freepik.com/free-vector/green-shades-wavy-background_23-2148897829.jpg?t=st=1721202591~exp=1721206191~hmac=da727a7a6820169eafa73c85d8d46904a3efca7eb70c29c854d78135bb64ae16&w=740");
  text-align: center;
}

.footer {
  text-align: center;
}

.chat-box {
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .message-list {
    margin-bottom: 10px;
    overflow-y: auto;
    flex-grow: 1;
  }

  .input-field {
    margin-bottom: 10px;
  }
}
