.App {
  text-align: center;
}

body {
  background-image: url("https://img.freepik.com/free-vector/green-shades-wavy-background_23-2148897829.jpg?t=st=1721202591~exp=1721206191~hmac=da727a7a6820169eafa73c85d8d46904a3efca7eb70c29c854d78135bb64ae16&w=740");
  background-size: cover;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pages {
  height: 90vh;
}
